.ng-datagrid {
  display: block;
}
.ng-datagrid th {
  text-align: left;
}
.ng-datagrid legend,
.ng-datagrid .ng-pager {
  float: left;
  padding: 1em;
}
.ng-datagrid legend,
.ng-datagrid table,
.ng-datagrid footer {
  margin: 0;
}
.ng-datagrid legend,
.ng-datagrid table,
.ng-datagrid footer {
  width: 100%;
}
.ng-datagrid legend:after,
.ng-datagrid legend:before {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 768px) {
}
@media (min-width: 1366px) {
  .ng-datagrid .ng-pager {
    margin: 0;
  }
  .ng-datagrid .ng-pager {
    width: 33.333333333333336%;
  }
  .ng-datagrid .ng-pager + .ng-datagrid .ng-pager {
    margin-left: 33.333333333333336%;
  }
}
@media (min-width: 1600px) {
}
.ng-datagrid legend {
  font-style: italic;
}
.ng-datagrid table {
  border-collapse: collapse;
}
.ng-datagrid td,
.ng-datagrid th {
  border: 1px solid $grey-300;
  padding: 1em;
}
.ng-datagrid th {
  background-color: #e1e1e1;
  color: #313131;
}
