.ng-datagrid,
.ng-datagrid td span {
  display: block;
}
.ng-datagrid .align-center,
.ng-pager .btn {
  text-align: center;
}
.ng-datagrid .align-right {
  text-align: right;
}
.ng-datagrid th {
  text-align: left;
}
.ng-pager,
.ng-stats,
.ng-stats .stat {
  float: left;
  padding: 1em;
}
.ng-datagrid footer,
.ng-datagrid table,
.ng-stats,
.ng-stats .stat {
  margin: 0;
}
.ng-datagrid footer,
.ng-datagrid table,
.ng-stats,
.ng-stats .stat {
  width: 100%;
}
.ng-datagrid footer:after,
.ng-stats:after,
.ng-datagrid footer:before,
.ng-stats:before {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 768px) {
}
@media (min-width: 1366px) {
  .ng-pager + .ng-pager {
    text-align: right;
  }
  .ng-pager,
  .ng-stats .stat {
    margin: 0;
  }
  .ng-stats .stat {
    width: 33.333333333333336%;
  }
  .ng-pager {
    width: 50%;
  }
}
@media (min-width: 1600px) {
}
.ng-datagrid legend,
.ng-datagrid th,
.ng-datagrid td input,
.ng-datagrid td span {
  padding: 1em;
}
.ng-datagrid legend.tight .ng-datagrid legend,
.ng-datagrid th.tight .ng-datagrid th,
.ng-datagrid td input.tight .ng-datagrid td input,
.ng-datagrid td span.tight .ng-datagrid td span {
  padding: 0.5em;
}
.ng-datagrid legend {
  color: #c0c0c0;
  font-style: italic;
}
.ng-datagrid table {
  border-collapse: collapse;
}
.ng-datagrid td,
.ng-datagrid th {
  border: 1px solid #b5b5b5;
}
.ng-datagrid th {
  background-color: #e1e1e1;
  color: #313131;
}
.ng-datagrid td input {
  border: 0 none;
  border-radius: 0;
}
.ng-datagrid td input:focus {
  box-shadow: 0 0 5px 1px #7cdddd inset;
}
.ng-datagrid .dont-select,
.ng-pager .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ng-datagrid.fixed-layout table {
  table-layout: fixed;
}
.ng-datagrid.small-cells td input,
.ng-datagrid.small-cells td span,
.ng-datagrid.small-cells th,
.ng-datagrid.small-cells .btn {
  padding: 0.5em;
}
.ng-pager {
  font-size: 0.8em;
}
.ng-pager .btn {
  min-width: 3em;
  padding: 1em;
  text-decoration: underline;
}
.ng-pager .btn.current {
  background-color: #147fdc;
  color: #fff;
  text-decoration: none;
}
.ng-stats {
  border-top: 1px solid #b5b5b5;
  padding: 0;
}
