.ng-datagrid,
.ng-datagrid td span {
  display: block;
}
.ng-datagrid .btn {
  text-align: center;
}
.ng-datagrid th {
  text-align: left;
}
.ng-datagrid legend,
.ng-pager {
  float: left;
  padding: 1em;
}
.ng-datagrid footer,
.ng-datagrid legend,
.ng-datagrid table {
  margin: 0;
}
.ng-datagrid footer,
.ng-datagrid legend,
.ng-datagrid table {
  width: 100%;
}
.ng-datagrid footer:after,
.ng-datagrid legend:after,
.ng-datagrid footer:before,
.ng-datagrid legend:before {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 768px) {
}
@media (min-width: 1366px) {
  .ng-pager + .ng-pager {
    text-align: right;
  }
  .ng-pager {
    margin: 0;
  }
  .ng-pager {
    width: 33.333333333333336%;
  }
  .ng-pager + .ng-pager {
    margin-left: 33.333333333333336%;
  }
}
@media (min-width: 1600px) {
}
.ng-datagrid th,
.ng-datagrid td input,
.ng-datagrid td span {
  padding: 1em;
}
.ng-datagrid legend {
  font-style: italic;
}
.ng-datagrid table {
  border-collapse: collapse;
}
.ng-datagrid td,
.ng-datagrid th {
  border: 1px solid #b5b5b5;
}
.ng-datagrid th {
  background-color: #e1e1e1;
  color: #313131;
}
.ng-datagrid td input {
  border: 0 none;
  border-radius: 0;
}
.ng-datagrid td input:focus {
  box-shadow: 0 0 5px 1px #7cdddd;
}
.ng-datagrid .btn {
  dont-select: true;
  min-width: 3em;
  padding: 1em;
  text-decoration: underline;
}
.ng-datagrid .btn.current {
  background-color: #147fdc;
  color: #fff;
  text-decoration: none;
}
