@require 'ride-css'
@require 'theme'

&
  placeholders($xs)
  grid($grid-cols, $grid-gutter, $grid-padding, $xs, true)

@media (min-width: 768px)
  placeholders($sm)
  grid($grid-cols, $grid-gutter, $grid-padding, $sm, true)

@media (min-width: 1366px)
  placeholders($md)
  grid($grid-cols, $grid-gutter, $grid-padding, $md, true)

@media (min-width: 1600px)
  placeholders($lg)
  grid($grid-cols, $grid-gutter, $grid-padding, $lg, true)

$padding
  padding: $grid-padding
  /&.tight &
    padding: ($grid-padding / 2)

.ng-datagrid
  @extend $block
  footer
    @extend $col-xs-12, $row
  legend
    @extend $padding
    color: $legend-color
    font-style: italic
  table
    @extend $col-xs-12
    border-collapse: collapse
  td
    border: 1px solid $border-color
  th
    @extend $align-left-xs, $padding, .ng-datagrid td
    color-scheme: $th-background, $th-color
  td input
    @extend $padding
    border: 0 none
    border-radius: 0
  td input:focus
    box-shadow: 0 0 5px 1px $input-focus inset
  td span
    @extend $block, $padding
  .dont-select
    user-select: none

.ng-datagrid.fixed-layout table
  table-layout: fixed

.ng-datagrid.small-cells
  td input
    padding: ($grid-padding / 2)
  td span
    @extends .ng-datagrid.small-cells td input
  th
    @extends .ng-datagrid.small-cells td input
  .btn
    @extends .ng-datagrid.small-cells td input


.ng-pager
  @extend $col-xs, $col-md-6
  font-size: .8em
  & + &
    @extend $align-right-md
  .btn
    @extend $align-center-xs, .ng-datagrid .dont-select
    min-width: 3em
    padding: $grid-padding
    text-decoration: underline
  .btn.current
    color-scheme: $btn-current-background, $btn-current-color
    text-decoration: none
