@require 'ride-css'
@require 'theme'

&
  placeholders($xs)
  grid: $grid-cols, $grid-gutter, $grid-padding, $xs, true

@media (min-width: 768px)
  grid: $grid-cols, $grid-gutter, $grid-padding, $sm, true

@media (min-width: 1366px)
  grid: $grid-cols, $grid-gutter, $grid-padding, $md, true

@media (min-width: 1600px)
  grid: $grid-cols, $grid-gutter, $grid-padding, $lg, true

.ng-datagrid
  @extend $block
  legend
    @extend $col-xs, $col-xs-12, $row
    font-style: italic
  table
    @extend $col-xs-12
    border-collapse: collapse
  td
    border: 1px solid $border-color
    padding: $grid-padding
  th
    @extend $align-left-xs, .ng-datagrid td
    color-scheme: $th-background, $th-color
  footer
    @extend $col-xs-12
    
.ng-datagrid .ng-pager
  @extend $col-xs, $col-md-4
  & + &
    @extend $offset-left-md-4
