$grid-cols = 12
$grid-gutter = 0
$grid-padding = 1em

$xs = 'xs'
$sm = 'sm'
$md = 'md'
$lg = 'lg'

// theme colours
$border-color = $gray-300

$btn-current-background = $blue-300
$btn-current-color = white

$input-focus = $teal-100
$input-invalid = $red-400

$th-background = $silver-200
$th-color = $black-300
