.ng-cloak.ng-datagrid(data-ng-class="{ 'small-cells': 'datagrid.config.smallCells' }")
  legend(data-ng-if="datagrid.title" data-ng-bind="datagrid.title")
  include _table
  include _footer
  include _no-results
